
@charset "utf-8"
@import "foo.css"
@import "bar.css"

button
  &:hover
    color: red
  &:active
    color: blue

ul
  li
    a
      .something
        color: white

button
  // moar comments
  // hurrrrrrrr
  border-radius: 5px
  padding: 5px 10px
  box-shadow:
    0 0 3px red,
    0 0 10px green,
    inset 0 0 3px blue

@media print
  // some stuff
  body
    padding: 0

  button
    border-radius: 0
    width: 100%

@custom-selector --heading h1, h2
@custom-selector :--link :hover, :active

@custom-selector --heading h1, h2
@custom-selector :--any-link :link, :visited

a:hover
  color: red

a:--any-link
  color: blue

--heading
  color: #fff

article --heading
  color: #000
